rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /admins/{document} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    match /activity_logs/{document} {
      allow read, write: if request.auth != null;
    }

    match /notificacoes/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /musicas/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /cifras/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /programacoes/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /ensaios/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /albuns/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /downloads/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /downloadsPorMusica/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /contatos/{document} {
      allow read, write: if request.auth != null;
    }

    match /links/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /config/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
